<%- include('../layouts/start.ejs',{title:"Gallery"}) %>

<div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
  <div class="text-xl font-semibold inline-block">
    Fotos y Videos
    <div class="inline-block float-right">
      <div class="inline-block float-right">
        <a href="/gallery/create" class="btn px-6 btn-sm normal-case btn-primary">
          Agregar Nuevo(s)
        </a>
      </div>
    </div>
  </div>
  <div class="divider mt-2"></div>

  <div class="grid grid-cols-2 md:grid-cols-3 gap-2">
    <% images.forEach(function(image) { %>
    <div class="card bg-base-100 shadow-xl p-3">
      <figure>
        <img style="height: 200px; width: auto; border-radius: 8px" src="/files/<%=image.archivo_nombre%>" alt="<%=image.archivo_nombre%>" />
      </figure>
      <div class="card-body p-2">

        <div id="show_<%=image.id%>" style="display: block;" class="mt-3">
          <div class="badge badge-neutral">neutral</div>
          <div class="badge badge-primary">primary</div>
          <div class="badge badge-secondary">secondary</div>
          <div class="badge badge-accent">accent</div>
          <div class="badge badge-ghost">ghost</div>
        </div>

        <div class="card-actions justify-end mt-2">
          <button class="btn"><i class="fa fa-edit"></i></button>
          <button class="btn"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
<script>
  async function remove(id) {
    st = confirm("Seguro de eliminar este registro?");
    if (st) {
      console.log(id);
      await fetch(`/usuarios/${id}`, {
        method: "DELETE",
      });
      location.reload();
    }
  }
</script>
<%- include('../layouts/end.ejs') %>