<%- include('../layouts/start.ejs',{title:"Post"}) %>

<div class="card w-full p-6 bg-base-100 shadow-xl mt-2">
  <div class="text-xl font-semibold inline-block">
    Listado de Post
    <div class="inline-block float-right">
      <div class="inline-block float-right">
        <a href="/posts/create" class="btn px-6 btn-sm normal-case btn-primary">
          Crear Nuevo
        </a>
      </div>
    </div>
  </div>
  <div class="divider mt-2"></div>
  <div class="h-full w-full pb-6 bg-base-100">
    <div class="overflow-x-auto w-full">
      <table class="table w-full">
        <thead>
          <tr>
            <th>Post</th>
            <th>Usuario</th>
            <th>Subreddit</th>
            <th>Status</th>
            <th>Imgur Url</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <% posts.forEach(function(post) { %>
          <tr>
            <td>
              <div class="flex items-center space-x-3">
                <div class="avatar">
                  <div class="mask mask-squircle w-12 h-12"><img src="<%= post.file_dir %>" alt="Avatar"></div>
                </div>
                <div>
                  <div class="font-bold"><%= post.titulo %></div>
                  <div class=""><%= post.descripcion %></div>
                </div>
              </div>
            </td>

            <td><%= post.nombre %></td>
            <td><%= post.subreddits %></td>
            <td>
              <% switch (post.status) {
                case 1: %>
                <div class="badge badge-primary">Por Publicar</div>
              <% break;
                case 2: %>
                <div class="badge badge-success">Publicado Correctamente</div>
              <% break;
                case 3: %>
                <div class="badge badge">Error Desconocido</div>
              <% break;
                case 0: %>
                <div class="badge badge-error">Desactivado</div>
              <% break;
                case 4: %>
                <div class="badge badge-error">Error al Publicar</div>
              <% break;
                case 5: %>
                <div class="badge badge-warning ">Proceso activo de publicación</div>
              <% break;
                default:
                break; } %>
            </td>
            <td>
              <a href="<%= post.file_url %>" target="_blank"><%= post.file_url %></a>
            </td>
            <td>
              <a href="/posts/<%= post.id %>" class="btn btn-square btn-ghost">
                <i class="fa fa-edit"></i>
              </a>

              <button onclick="remove(<%= post.id %>)" class="btn btn-square btn-ghost">
                <i class="fa fa-trash"></i>
              </button>

              <button onclick="imgur(<%= post.id %>)" class="btn btn-square btn-ghost">
                <i class="fa fa-image"></i>
              </button>
             
              <button onclick="reddit(<%= post.id %>)" class="btn btn-square btn-ghost">
                <i class="fa-brands fa-reddit"></i>
              </button>

            </td>
          </tr>
          <% }); %>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  async function remove(id) {
    st = confirm('Seguro de eliminar este post?');
    if (st) {
      console.log(id)
      await fetch(`/posts/${id}`, {
        method: 'DELETE'
      });
      location.reload()
    }
  }
  async function imgur(id) {
    await fetch(`/posts/imgur/${id}`, {
      method: 'POST'
    });
    location.reload()
  }
  async function reddit(id) {
    const res = await fetch(`/posts/reddit/${id}`, {
      method: 'POST'
    });
    console.log(res)
    //  location.reload()
  }
</script>
<%- include('../layouts/end.ejs') %>